.achievements {
  position: relative;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    padding-top: 213px;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 213px, #f2f2f2 213px, #f2f2f2);
  }
}

.achievements__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 70px;
  }
}

.achievements__title-block {
  @media (min-width: $desktop-width) {
    width: 100%;
    position: relative;
    padding: 78px 0 75px;
    margin-top: -213px;
    margin-bottom: 0;
    z-index: 0;
  }
}

.achievements__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $darkgrey;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 49px;
  }
}

.achievements__costs {
  display: flex;
  text-align: center;
  padding-top: 34px;
  margin: 0 46px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-end;
    align-self: center;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-left: 0;
  }
}

.achievements__total,
.achievements__value {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
  }
}

.achievements__total {
  @media (min-width: $desktop-width) {
    margin-right: 63px;
  }
}

.achievements__wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 450px;
    margin: 0;
    padding-bottom: 75px;
  }
}

.achievements__inner {
  padding: 27px 20px 31px 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 43px 30px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 110px;
  }
}
