.additives {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.additives__wrapper {
  padding:0 20px 34px 20px;

  @media (min-width: $tablet-width) {
   padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
}

.additives__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 25px 20px 35px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    border: none;
    margin: 18px 30px 80px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px 71px 110px;
  }
}

.additives__title::before {
  position: absolute;
  z-index: -1;
  height: 2px;
  background-color: #68b738;
  content: "";
  top: 15px;
  left: 0;
  right: -20px;

  @media (min-width: $tablet-width) {
    top: 22px;
    left: -30px;
    right: -30px;
  }

  @media (min-width: $desktop-width) {
    left: -110px;
    right: -110px;
  }
}

.additives__title-background {
  padding-right: 22px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 0 37px;
  }
}

.additives__item {
  border-bottom: 1px solid #cdcdcd;
  padding: 13px 0 17px;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #cdcdcd;
    border-bottom: 0;
    margin-right: 11px;
    margin-left: 9px;
    padding: 25px 37px 28px 38px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    margin: 0;
    width: 895px;
    border-top: 1px solid #cdcdcd;
    padding: 13px 0 19px;
    align-items: center;
  }
}

.additives__list:last-child {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additives__description {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin: 0 0 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 0 0;
  }
}

.additives__name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $darkgrey;
  margin: 0;

  @media (min-width: $tablet-width) {
    align-items: center;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $darkgrey;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-right: 38px;
    width: 290px;
  }
}

.additives__order {
  width: 100%;
  height: 40px;
  margin-top: -4px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin: 0;
  }
}

.additives__price {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 49px;
  }
}

.additives__wrapper-block {
  margin: 0;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding: 0 0 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 83px;
    display: flex;
    margin: 0 110px;
    justify-content: space-between;
  }
}

.additives__value {
   padding-bottom: 18px;

   @media (min-width: $desktop-width) {
     padding-bottom: 0;
   }
}

.additives__price {
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}
