.additionally {
  display: block;
}

.additionally__wrapper {
  border: none;
  margin: 0;
  padding: 15px 20px 15px;

  @media (min-width: $tablet-width) {
    padding: 33px 67px 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 21px 110px 36px;
  }
}

.additionally__list {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 210px 210px;
    gap: 0 134px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 79px;
  }
}

.additionally__item {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  list-style-type: none;
  margin-bottom: 25px;
  margin-left: 6px;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
    font-size: 20px;
    line-height: 30px;
    margin-left: 61px;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
    margin: 0;
    margin-left: 60px;
  }
}

.additionally__title {
  position: relative;
  margin: 0;
  padding: 0 20px 41px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 58px;
  }
}

.additionally__title::before {
  position: absolute;
  z-index: -1;
  height: 2px;
  background-color: #68b738;
  content: "";
  top: 16px;
  left: 0;
  right: -20px;

  @media (min-width: $tablet-width) {
    top: 22px;
    left: -70px;
    right: -67px;
  }

  @media (min-width: $desktop-width) {
    left: -110px;
    right: -110px;
  }
}

.additionally__background {
  display: inline-block;
  padding-right: 23px;
  background-color: $white;
  width: 141px;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-inline: 40px 41px;
    position: absolute;
    left: -40px;
  }
}

.additionally__legend {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  color: #000000;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-top: -6px;
  }

  @media (min-width: $tablet-width) {
    margin-top: -4px;
  }
}

.additionally__button-wrapper {
  padding: 0 20px 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding: 16px 67px 58px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 110px 69px;
  }
}

.additionally__send {
  width: 100%;
  min-height: 40px;
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 282px;
    min-height: 52px;
    margin: 0 66px 0 0;
    font-size: 20px;
    line-height: 0;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin: 0 85px 0 0;
  }
}

.additionally__label {
  position: relative;
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
  }
}

.additionally__label::before {
  position: absolute;
  width: 29px;
  min-height: 29px;
  top: -5px;
  left: -46px;
  border: 1px solid #cdcdcd;
  content: "";

  @media (min-width: $tablet-width) {
    top: -6px;
    left: -62px;
    width: 39px;
    min-height: 39px;
  }
}

.additionally__input:checked + .additionally__label::after {
  position: absolute;
  top: 3px;
  left: -40px;
  width: 18px;
  min-height: 14px;
  background: url("../img/check.svg");
  background-repeat: no-repeat;
  content: "";

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 8px;
    left: -51px;
    width: 24px;
    min-height: 24px;
    background: url("../img/check.svg");
    background-repeat: no-repeat;
    content: "";
  }
}
