.additives {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.additives__wrapper {
  padding-bottom: 35px;
}

.additives__wrapper-desktop {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.additives__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  border-bottom: 1px solid #cdcdcd;
  margin: 0;
  padding: 0 20px 36px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    border: none;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 81px 110px;
  }
}

.additives__list {
  border-bottom: 1px solid #cdcdcd;
  padding: 13px 20px 19px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #cdcdcd;
    border-bottom: 0;
    margin-right: 30px;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
  }
}

.additives__list:last-child {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additives__description {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-top: 13px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto 0 0;
  }
}

.additives__name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $darkgrey;
  margin: 0;

  @media (min-width: $tablet-width) {
    align-items: center;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $darkgrey;
  }
}

.additives__order {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  font-size: 16px;
  line-height: 20px;
}

.additives__price {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 49px;
  }
}

.additives__wrapper-block {
  margin: 0;
  padding: 25px 0 35px 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 86px;
  }
}
