.additives-bonus {
  background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/background_cat_bonus.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: block;
}

.additives-bonus__inner {
  color: $white;
  text-align: center;

  &::before {
    display: block;
    width: 78px;
    height: 80px;
    background: url("../../img/bonus_icon_gif.svg");
    content: "";
    margin: 0 auto 48px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.additives-bonus__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    text-align: left;
  }
}
