.advantage {
}

.advantage__description {
  font-size: 36px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  padding-left: 20px;
}

.advantage__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantage__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: $darkgrey;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  padding-bottom: 26px;
  padding-left: 20px;
}
