.button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  display: block;
  cursor: pointer;
  background-color: $green;
  color: $white;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
