.choise-program {
  border: none;
  padding: 0;
}

.choise-program__wrapper {
  padding: 29px 20px 24px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 18px 67px 51px 70px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.choise-program__list {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding: 30px 0 30px 29px;
    border: 1px solid #e7e7e7;
  }
}

.choise-program__item {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 24px;
  padding-left: 43px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 56px;
  }
}

.choise-program__item:last-child {
  margin-bottom: 0;
}

.choise-program__label {
  position: relative;
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
  }
}

.choise-program__label::before {
  position: absolute;
  top: -4px;
  left: -46px;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  content: "";

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    top: -7px;
    left: -60px;
    width: 40px;
    height: 40px;
  }
}

.choise-program__input:checked+.choise-program__label::after {
  position: absolute;
  top: 5px;
  left: -38px;
  width: 14px;
  height: 14px;
  background: #68b738;
  border: 1px solid #68b738;
  border-radius: 50%;
  content: "";

  @media (min-width: $tablet-width) {
    top: 5px;
    left: -49px;
    width: 18px;
    height: 18px;
  }
}
