.contacts {
  display: flex;
  justify-content: space-between;
  padding: 28px 20px 27px;

  @media (min-width: $tablet-width) {
    padding: 66px 72px 51px;
  }
}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $darkgrey;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
