.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 17px 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    text-align: left;
    padding: 17px 0;
  }
}

.copyright__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-family: "Lato", "Arial", sans-serif;
  color: $darkgrey;
}

.copyright__logo-icon {
  width: 27px;
  height: 34px;
  padding-left: 29px;
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}
