.form__search {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  height: 43px;
  padding-inline: 18px;
  color: $darkgrey;
  border: 0;
  outline: 1px solid #e7e7e7;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:active {
    outline: 2px solid #444444;
  }

  &:focus:invalid {
    outline: 2px solid #ff8282;
  }

  @media (min-width: $tablet-width) {
    height: 49px;
    padding-inline: 18px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form {
  display: flex;
  align-items: center;
  margin: 0 0 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form--after {
  margin: 0;
}

.form__name {
  margin-right: 18px;
  white-space: nowrap;
  color: $darkgrey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
