.main-footer__container {
  background-color: $lightgrey;
  padding-top: 39px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-bottom: 58px;
  }
}

.main-footer__top {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__logo {
  margin-bottom: 31px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 192px;
    margin-bottom: 0;
    padding-top: 10px;
    text-align: left;
  }
}

.main-footer__logo-link {
  display: inline-block;

  @media (min-width: $tablet-width) {
    width: 210px;
    padding-top: 11px;
  }
}

.main-footer__social {
  margin-bottom: 22px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 1px 0;
  padding-top: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    border: none;
  }
}
