.main-header__cat-logo {
  @media (min-width: $tablet-width) {
    width: 174px;

    @media (min-width: $desktop-width) {
      width: 202px;
    }
  }
}

.main-header__logo-image {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
