.main-nav {
  justify-content: space-between;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

.main-nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px 17px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 34px;
  }
}

.main-nav__list a {
  color: #000000;
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 980px;
    padding-left: 530px;
  }
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
