.nutrition-program {
  background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background_cat.jpg");
  background-repeat: no-repeat;
  background-size: 100% 302px, 320px 302px;
  background-position: top center;

  @media (min-width: $tablet-width) {
    width: 768px;
    background-image: none;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 80px;

    &::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 694px;
      top: 0;
      left: 50%;
      background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background_cat.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }
}

.nutrition-program__inner {
  color: $white;
  text-align: center;
}

.nutrition-program__wrapper {
  position: relative;
  padding: 37px 20px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    padding: 67px 110px 0;
  }
}

.nutrition-program__heading {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 0 20px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    color: #000000;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    padding-left: 87px;
  }
}

.nutrition-program__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 5px 0 28px;
  margin: 0;

  @media (min-width: $tablet-width) {
    color: #000000;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    padding-top: 9px;
    padding-left: 88px;
  }
}

.nutrition-program__link {
  padding-top: 11px;
  background-color: $green;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  height: 29px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    margin-top: 21px;
    margin-left: 82px;
  }
}
