.product-catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.product-catalog__inner {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 30px 30px 48px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 62px 80px;
    padding: 32px 110px 76px;
  }
}

.product-catalog__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding: 27px 20px 41px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 60px;
    line-height: 60px;
    padding: 51px 30px 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 110px 53px;
  }
}

.product-catalog__specification {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 23px;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    border: none;
    justify-content: end;
    height: 511px;
    padding: 0 38px 40px;
    background: linear-gradient(to bottom, transparent 0, transparent 16%, #f2f2f2 16%, #f2f2f2 100%);
    box-sizing: border-box;
  }
}


.product-catalog__specification--more {
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 430px;
    margin-top: 82px;
    background-image: none;
    border: 2px solid #f2f2f2;
  }
}

.product-catalog__specification--more::before {
  width: 30px;
  height: 30px;
  margin-bottom: 25px;
  margin-top: 5px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  content: "";
  margin-left: 125px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 53px;
    margin-left: 92px;
    background-image: url("../img/plus_big.svg");
    background-repeat: no-repeat;
    margin-top: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 52px;
    margin-top: 47px;
  }
}

.product-catalog__image-wrapper {
  width: 50%;
  align-self: flex-end;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
  }
}

.product-catalog__link {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.product-catalog__image {
  @media (min-width: $tablet-width) {
    width: auto;
    max-height: 198px;
  }
}

.product-catalog__block {
  width: 50%;
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.product-catalog__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 14px;
  width: 73px;

  @media (min-width: $tablet-width) {
    width: 159px;
    margin: 0 auto 11px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0 2px 15px 8px;
  }
}

.product-catalog__title-link {
  color: #222222;
  text-decoration: none;
}

.product-catalog__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  color: $darkgrey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-catalog__term,
.product-catalog__value {
  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 9px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 6px;
    padding-bottom: 9px;
  }
}

.product-catalog__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.product-catalog__order {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 31px;
  }
}

.product-catalog__more-title {
  margin: 0 0 8px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin: 0 auto 15px;
    width: 134px;
  }
}

.product-catalog__more-text {
  margin: 0 0 21px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $darkgrey;

  @media (min-width: $tablet-width) {
    margin: 8px auto 83px;
    width: 170px;
    font-size: 16px;
    line-height: 18px;
  }
}

.product-catalog__more-button {
  cursor: pointer;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $darkgrey;
  background-color: $lightgrey;
  border: none;

  &:hover {
    background-color: #e6e6e6;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
