.program-selection {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin: 20px;
}

.program-selection__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 37px;
}

.program-selection__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
}

.program-selection__form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $darkgrey;
  margin-bottom: 24px;
}
