.selection-program__wrapper {
  padding: 20px 20px 13px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 0 110px;
  }
}

.selection-program__inner {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding: 77px 60px 57px 52px;
  }
}

.selection-program__heading {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 10px;
  margin: 0 0 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.selection-program__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $darkgrey;
  margin: 0 0 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.selection-program__catalog {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
