.selection-program__wrapper {
  padding: 20px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 0 110px;
  }
}

.selection-program__inner {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 67px 60px 57px 52px;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 60px 57px 52px;
  }
}

.selection-program__heading {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 10px;
  margin: 0 0 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 29px;
    padding: 0;
  }
}

.selection-program__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $darkgrey;
  margin: 0 0 15px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 16px;
    line-height: 24px;
    width: 342px;
    padding-bottom: 38px;

    @media (min-width: $desktop-width) {
      width: 457px;
      padding-bottom: 13px;
    }
  }
}

.selection-program__catalog {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.selection-program__inner-slim {
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    height: 70px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    height: auto;
  }
}

.selection-program__icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-color: $green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    order: 1;
    width: 200px;
    height: 200px;
    margin: 24px 0 0;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    width: 100px;
    height: 100px;
    margin: 0 62px 39px 0;
  }
}

.selection-program__icon--slim::before {
  position: absolute;
  bottom: 3px;
  left: 7px;
  width: 36px;
  height: 50px;
  background-image: url("../img/slim_cat.svg");
  background-repeat: no-repeat;
  content: "";

  @media (min-width: $tablet-width) {
    bottom: 15px;
    left: 30px;
    width: 138px;
    height: 193px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    bottom: 9px;
    left: 14px;
    width: 70px;
    height: 97px;
  }
}

.selection-program__icon--pro::before {
  position: absolute;
  bottom: 6px;
  left: -10px;
  width: 67px;
  height: 28px;
  background-image: url("../img/pro_cat.svg");
  background-repeat: no-repeat;
  content: "";

  @media (min-width: $tablet-width) {
    bottom: 40px;
    left: -35px;
    width: 268px;
    height: 112px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    bottom: 24px;
    left: -20px;
    width: 134px;
    height: 56px;
  }
}
