.site-list {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    min-width: 470px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 720px;
    display: flex;
    flex-wrap: wrap;
  }
}

.site-list__item {
  text-align: center;
}

.site-list__item a {
  text-decoration: none;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}
