.site-list {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.site-list a {
  position: relative;
  display: block;
  padding: 22px 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  background-color: $white;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding: 1px 0 9px 0;
  }
}

.site-list__item {
  text-align: center;

  @media (min-width: $tablet-width) {
    &--current {
      position: relative;
    }

    &--current::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 3px;
      background: $green;

      @media (min-width: $desktop-width) {
        background: $white;
      }
    }
  }
}

.site-list__item--choise::after {
  background: $green;
}

.site-list__item a {
  text-decoration: none;
  color: #111111;

  @media (min-width: $tablet-width) {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $desktop-width) {
      background-color: transparent;
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
    }
  }
}

.site-list__item--color a {
  @media (min-width: $desktop-width) {
    color: $white;
  }
}
