.slider {
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 677px;
    height: 616px;
    margin: 0 auto 113px;
  }

  @media (min-width: $desktop-width) {
    margin: -230px auto 113px;
  }
}

.slider__image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider__image--slim {
  display: block;
  background-image: url("../img/slim_cat_mobail@1x.webp");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/slim_cat_mobail@2x.webp");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/slim_cat_tablet@1x.webp"), linear-gradient(#ffffff 0, #ffffff 28%, #eaeaea 28%, #eaeaea 100%);
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/slim_cat_tablet@2x.webp"), linear-gradient(#ffffff 0, #ffffff 28%, #eaeaea 28%, #eaeaea 100%);
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/slim_cat_tablet@1x.webp"), linear-gradient(#ffffff 0, #ffffff 28%, #f2f2f2 28%, #f2f2f2 100%);
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/slim_cat_tablet@2x.webp"), linear-gradient(#ffffff 0, #ffffff 28%, #f2f2f2 28%, #f2f2f2 100%);
    }
  }
}

.slider__image--fat {
  display: block;
  background-image: url("../img/fat_cat_mobail@1x.webp"), linear-gradient(#eaeaea 100%, #eaeaea 100%);
  background-size: cover;
  width: 50%;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/fat_cat_mobail@2x.webp"), linear-gradient(#eaeaea 100%, #eaeaea 100%);
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/fat_cat_tablet@1x.webp"), linear-gradient(#ffffff 0, #ffffff 28%, #eaeaea 28%, #eaeaea 100%);
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/fat_cat_tablet@2x.webp"), linear-gradient(#ffffff 0, #ffffff 28%, #eaeaea 28%, #eaeaea 100%);
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/fat_cat_tablet@1x.webp"), linear-gradient(#ffffff 0, #ffffff 28%, #f2f2f2 28%, #f2f2f2 100%);
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/fat_cat_tablet@2x.webp"), linear-gradient(#ffffff 0, #ffffff 28%, #f2f2f2 28%, #f2f2f2 100%);
    }
  }
}
