.slider {
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    margin: 0 48px 15px 76px;
  }

  @media (min-width: $desktop-width) {
    width: 566px;
    height: 520px;
    margin: -208px -2px 8px 204px;
  }
}

.slider__image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider__image--slim {
  display: block;
  background-image: url("../img/slim_cat_mobail@1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/slim_cat_mobail@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/slim_cat_tablet@1x.png"), linear-gradient(#ffffff 0, #ffffff 29%, #eaeaea 29%, #eaeaea 100%);
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/slim_cat_tablet@2x.png"), linear-gradient(#ffffff 0, #ffffff 29%, #eaeaea 29%, #eaeaea 100%);
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/slim_cat_tablet@1x.png"), linear-gradient(#ffffff 0, #ffffff 26%, #f2f2f2 26%, #f2f2f2 100%);
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/slim_cat_tablet@2x.png"), linear-gradient(#ffffff 0, #ffffff 26%, #f2f2f2 26%, #f2f2f2 100%);
    }
  }
}

.slider__image--fat {
  display: block;
  background-image: url("../img/fat_cat_mobail@1x.png"), linear-gradient(#eaeaea 100%, #eaeaea 100%);
  background-size: cover;
  width: 50%;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/fat_cat_mobail@2x.png"), linear-gradient(#eaeaea 100%, #eaeaea 100%);
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/fat_cat_tablet@1x.png"), linear-gradient(#ffffff 0, #ffffff 29%, #eaeaea 29%, #eaeaea 100%);
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/fat_cat_tablet@2x.png"), linear-gradient(#ffffff 0, #ffffff 29%, #eaeaea 29%, #eaeaea 100%);
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/fat_cat_tablet@1x.png"), linear-gradient(#ffffff 0, #ffffff 26%, #f2f2f2 26%, #f2f2f2 100%);
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/fat_cat_tablet@2x.png"), linear-gradient(#ffffff 0, #ffffff 26%, #f2f2f2 26%, #f2f2f2 100%);
    }
  }
}

.slider__image--slider {
  display: block;
  width: 43px;
  height: 256px;
  left: 119px;
  background-repeat: no-repeat;
  background-image: url("../img/curtain.svg");
  z-index: 10;
  content: "";

  @media (min-width: $tablet-width) {
    width: 43px;
    height: 512px;
    left: 260px;
    background-repeat: no-repeat;
    background-image: url("../img/curtain_tablet.svg");
  }

  @media (min-width: $desktop-width) {
    left: 265px;
  }
}
