.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0 20px;
  padding: 0;
}

.social__item {
  margin: 2px 1.5px 6px;
}

.social__link {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  @media (min-width: $tablet-width) {
    height: 26px;
  }
}
